/*
 * Product page
 * ------------
 */

.productWrapper {
    display: flex;
}

.altImgWrapper {
    float: left; /* Ignored where display flex is supported */
    flex-basis: 15%;
    flex-grow: 1;
}
.alternativeImages {
    margin: 0 auto 0 0;
    width: 60px;
    list-style-type: none;
    padding: 0 0 0 45px;
    li {
        margin-bottom: 20px;
    }
    img {
        width: 60px;
        height: auto;
    }
}

.mainImage {
    float: left;/* Ignored where display flex is supported */
    flex-basis: 436px;
    flex-grow: 1;
    img {
        width: 436px;
    }
}

.productInfo {
    flex-basis: 34%;
    flex-grow: 1;
    padding-right: 60px;
    h1 {
        text-align: left;
    }
}

.dropdown {
    ul {
        list-style-type: none;
        margin: 0; padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        margin: 0 3px 3px 0;
    }
}

.colorSelection {
    li {
        border: 1px solid transparent;
        padding: 2px;
        &.selected {
            border: 1px solid #CCC;
            padding: 2px;
        }
    }
    .rgbColor {
        width: 34px;
        height: 34px;
    }
}

.sizeWSelection {
    li {
        width: 40px;
        height: 40px;
        border: 1px solid #CCC;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.selected {
            background-color: #333;
            color: white;
        }
    }
}
.buttonBox {
    display: flex;
    flex-direction: column;
    button {
        padding: 15px;
        text-transform: uppercase;
        margin: 5px 0;
    }
}
.addItemToCart {
    background-color: #005187;
    color: white;
    border: 1px solid #005187;
}
.addItemToWishList {
    background-color: white;
    color: black;
    border: 1px solid #CCC;
}